chatbox {
    z-index: 100;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .container {
        flex-direction: column;
        width: 90%;
        height: 60%;
        font-family: Poppins;
        font-size: 13px;
        border-radius: 10px;
        border: 2px solid rgba( black, 0 );
        backdrop-filter: blur( 20px ) brightness( 0.5 );
        background-color: rgba( 0, 0, 0, 0.9 );
    }

    label, textentry {
        font-family: Inter;
        font-weight: 500;
    }

    textentry {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 25px;
        font-size: 14px;
        flex-shrink: 0;
        flex-grow: 0;
        color: white;
        backdrop-filter: blur( 20px ) brightness( 1 );
        background-color: rgba( 127, 127, 127, .3 );
        border: 2px solid rgba( black, 0.4 );
        border-radius: 0 0px 5px 5px;
    }

    .chat_canvas {
        flex-direction: column;
        align-items: flex-start;
        height: 95%;
        overflow: scroll;
        margin-bottom: 50px;
    }
}

chatentry {
    margin-bottom: 5px;
    color: white;
    transition: all 0.1s ease-out;
    opacity: 1;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px 15px;
    max-width: 100%;
    transform: scale( 1 );
    width: 100%;
    align-items: center;
    border-radius: 10px;

    &:intro {
        opacity: 0;
    }

    &.show {
        opacity: 1;
        transition: all 0.2s ease-out;
    }

    &.guessedchat {
        background-color: rgba( #40c0ff, 0.2 );
    }

    .name {
        padding-right: 10px;
        font-weight: 600;
        font-size: 14px;
        color: #c0fb2e;
        flex-shrink: 0;
    }

    .message {
        color: white;
        font-size: 14px;
        flex-grow: 1;
    }

    &.noname .name {
        display: none;
    }

    &.noavatar image {
        display: none;
    }
}
