scoreboard {
    z-index: 2;
    width: 30%;
    height: 100%;

    .container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: rgba( 0, 0, 0, 0.9 );
        border-radius: 10px;
        border: 2px solid rgba( black, 0 );
        margin-left: 3%;
    }

    .canvas {
        flex-direction: column;
        min-height: 50%;
        min-width: 30%;

        .entry {
            padding: 4px;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            color: white;

            image {
                width: 24px;
                height: 24px;
                min-height: 24px;
                border-radius: 100px;
                margin-right: 10px;
            }

            .name {
                flex-grow: 1;
                text-stroke: 2px black;
            }

            .score {
                text-align: right;
                text-stroke: 2px black;
            }

            &.first {
                background-color: rgba( 212, 175, 55, 0.9 );
                border-radius: 10px 10px 0px 0px;
            }

            &.second {
                background-color: rgba( 192, 192,192, 0.9 );
                border-radius: 0px;
            }

            &.third {
                background-color: rgba( 148, 94, 40, 0.9 );
                border-radius: 0px 0px 10px 10px;
            }
        }
    }
}
