currentdrawer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur( 20px ) brightness( 0.5 );
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    &.open {
        opacity: 1;
    }

    image {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        margin-bottom: 20px;
        background-position: center;
        background-size: cover;
    }

    .drawertext {
        font-size: 50px;
        text-stroke: 4px black;
    }
}
